/*=================
    Variables
=================*/
$color-primary: #55c57a;
$color-tint: #7ed56f;
$color-shade: #28b485;
$color-grey: #777;
$color-dark: #000;
$color-light: #fff;
$color-offwhite: #eee;

/*=================
    Typography
=================*/
$heading-primary-main-fs: 6.2rem;
$heading-primary-sub-fs: 2.4rem;

/*====================
    Grid Variables
====================*/
$gutter-h: 6rem;
$gutter-v: 8rem;
